
		<header>
			<style>
				#intro {
					background-image: url(https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
					height: 30vh;
				}

				/* Height for devices larger than 576px */
				@media (min-width: 992px) {
					#intro {
						margin-top: -58.59px;
					}
				}

				.navbar .nav-link {
					color: #fff !important;
				}
			</style>

  {{> privateNavbar }}


			<!-- Background image -->
			<div id="intro" class="bg-image shadow-2-strong">
				<div
					class="mask d-flex align-items-center h-100"
					style="background-color: rgba(0, 0, 0, 0.6)"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="text-center text-white mt-10">
								<h1>DASHBOARD</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Background image -->
		</header>
		<main>
		<div class="container py-5">

    <div class="col">
      <div class="card my-4 shadow-3">
        <div class="row g-0">
          <div class="col-xl-6 d-xl-block bg-image">
            <img src="https://images.unsplash.com/photo-1483791424735-e9ad0209eea2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Sample photo"
              class="img-fluid" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
              <div class=" justify-content-center align-items-center h-100">
                <div class=" text-center" style="margin-top: 220px;">
                  <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
        data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
        data-mdb-animation-on-scroll="repeat" class="far fa-edit text-white fa-3x"></i>
                  <p class="text-white title-style">EDIT</p>
                  <p class="text-white mb-0"></p>

                  <figure class="text-center mb-0">
                    <blockquote class="blockquote text-white">
                      <p class="pb-3">
                        <i class="fas fa-quote-left fa-xs text-primary"
                          style="color: hsl(210, 100%, 50%) ;"></i>
                        <span class="lead font-italic">change your post here</span>
                        <i class="fas fa-quote-right fa-xs text-primary"
                          style="color: hsl(210, 100%, 50%) ;"></i>
                      </p>
                    </blockquote>

                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card-body p-md-5 text-black">
              <h3 class="mb-4 text-uppercase">Your post</h3>


              <!-- Title input -->
 <div> 
	<div class="form-outline mb-4 shadow-2">
	<p class="font-weight-bold">Title:</p>
     <textarea class="form-control" id="title" rows="1">{{blog.title}}</textarea>
    <label class="form-label" for="title">{{blog.text}}</label>
  </div>



                <!-- Message input -->
  <div class="form-outline mb-4 shadow-2">
	<p class="font-weight-bold">Text:</p>
    <textarea class="form-control" id="text" rows="3">{{blog.contents}}</textarea>
    <label class="form-label" for="text"></label>
  </div>

              <div class="d-flex justify-content-end pt-3">
                <button type="button" class="btn btn-success btn-lg ms-2" id="save-btn" data-value="{{blog.id}}"
                  style="background-color:hsl(210, 100%, 50%) ">save</button>
              </div>
			  </div>

			   <h4 class="mb-4 text-uppercase">comments</h4>
			   {{#each blog.comments}}
			   								<div class="card-body bg-white p-4">
											<h6 class="fw-bold mb-1">{{user.first_name}}</h6>
											<div class="d-flex align-items-center mb-3">
												<p class="mb-0">
													{{formatDate createdAt}}
												</p>
											
											</div>
											<p class="mb-0">
												{{text}}

											</p>
										</div>
									

								<hr class="my-0" style="height: 1px" />
						{{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
		</main>

		<!--Footer-->
		<footer class="bg-light text-lg-start">
			<div class="text-center py-4 align-items-center">
			
			
				<a
					href="https://github.com/awarsame1996"
					class="btn btn-primary m-1"
					role="button"
					rel="nofollow"
					target="_blank"
				>
					<i class="fab fa-github"></i>
				</a>
			</div>

			
		</footer>
		<!--Footer-->

